<html>
<head>
</head>

<body>
<% for @treadling in @plans %>
  <div id="container" style="width:120px;margin:10px;border:2px;border-style:solid;">
    <% for @pick in @treadling %>
      <div style="margin:10px;padding:2px;background-color:<%= @pick.color %>;">
        <%= @pick.shafts.join(" ") %> 
      </div>
    <% end %>
    </div>
  <% end %>  
</body>
</html>